<!-- Banner -->
	<div id="banner" class="container">
		<section>
			<p>Welcome to <strong>Cura10</strong>! Here you can see all of Cura10's lists from all users. Vote for your favorite by checking out the <strong>Full List</strong> or you can make your own list <strong><%= link_to "here", new_list_path %></strong>.</p>
			<a href="#" class="button medium">Read More</a>
		</section>
	</div>

<!-- Extra -->
	<div id="extra">
		<div class="container">
			<% @lists.in_groups_of(3).each do |l_group| %>
			<div class="row no-collapse-1">
				<% l_group.each do |list| %>
					<% if list %>
					<section class="4u">
						<div class="box">
							<h2><%= list.name %></h2>
							<h3><%= list.category.name.capitalize if list.category_id %></h3>
							<% list.items.first(3).each do |item| %>
							<ol type="1">
								<li><%= item.desc_link %></li>
							</ol>
							<% end %>
							<%= link_to "Full List", list_path(list), class: "button" if list %>
						</div>
					</section>
					<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>

<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>
