<!-- Footer -->
	<div id="banner" class="wrapper style1">
		<div class="container">
			<section>
				<header class="major">
					<h2>Cura10 a list</h2>
					<span class="byline">Add websites or links to create your list</span>
				</header>
				<%= form_for @list do |f| %>
					<div class="row half">
						<div class="12u">
							<%= f.text_field :name, placeholder: "Name" %>
						</div>
					</div>
					<div class="row half">
						<div class="12u">
							<%= f.text_field :category_name, list: "categories_autocomplete", placeholder: "Category" %>
						  <datalist id="categories_autocomplete">
						    <% Category.all.each do |category| %>
						      <option value="<%= category.name.capitalize %>">
						    <% end %>
						  </datalist>
						</div>
					</div>
					<% 10.times do |i| %>
						<%= fields_for :items do |item| %>
							<div class="row half">
								<div class="12u">
									<%= item.text_field :desc_link, placeholder: "Image, Media or Website Link #{i+1}" %>
								</div>
							</div>
						<% end %>
					<% end %>
					<div class="row half">
						<div class="12u">
							<ul class="actions">
								<li>
									<%= f.submit %>
								</li>
							</ul>
						</div>
					</div>
				<% end %>
			</section>
		</div>
	</div>
