
<!-- Banner -->
	<div id="banner" class="container">
		<section>
			<% if @user.lists.present? %>
				<p>Welcome <strong><%= @user.name %></strong>! See your lists below or check out favorites.</p>
			<% else %>
				<p>Welcome <strong><%= @user.name %></strong>! You have yet to create a list. Let's make one <strong><%= link_to "here", new_list_path %></strong>.</p>
			<% end %>
			<a href="#favs" class="button medium">Favorites</a>
		</section>
	</div>

<!-- Extra -->
	<div id="extra">
		<div class="container">
			<% @lists.in_groups_of(3).each do |l_group| %>
			<div class="row no-collapse-1">
				<% l_group.each do |list| %>
					<% if list %>
					<section class="4u">
						<div class="box">
							<h2><%= list.name %></h2>
							<h3><%= link_to list.category.name.capitalize, category_lists_path(list.category_id) if list.category_id %></h3>
							<% list.items.first(3).each do |item| %>
							<ol class="image rnd thumb">
								<li><%= image_tag "#{item.desc_link}" %></li>
							</ol>
							<% end %>
							<%= link_to "Full List", list_path(list), class: "button" if list %>
						</div>
					</section>
					<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	<br>
	<br>
	<br>

<!-- Favorites -->
	<div id="favs">
		<div id="banner" class="container">
			<section>
				<p><strong>Favorited Lists</strong></p>
			</section>
		</div>
		<div class="container">
			<% @favs.in_groups_of(3).each do |f_group| %>
			<div class="row no-collapse-1">
				<% f_group.each do |list| %>
					<% if list %>
					<section class="4u">
						<div class="box">
							<h2><%= list.name %></h2>
							<h3><%= link_to list.category.name.capitalize, category_lists_path(list.category_id) if list.category_id %></h3>
							<h4>Created by: <%= list.user.name if list.user_id %></h4>
							<% list.items.first(3).each do |item| %>
							<ol class="image rnd thumb">
								<li><%= image_tag "#{item.desc_link}" %></li>
							</ol>
							<% end %>
							<%= link_to "Full List", list_path(list), class: "button" if list %>
						</div>
					</section>
					<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>

<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>
