<!DOCTYPE html>
<html>
  <head>
    <title>Cura10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>

  <body>
  <!-- Wrapper -->
		<div class="wrapper style1">
    <!-- Header -->
      <div id="header" class="skel-panels-fixed">
        <% if !logged_in? %>
        <div id="logo">
          <h1>Cura10</h1>
          <span class="tag">by CarterBlack Apps</span>
        </div>
        <nav id="nav">
          <ul>
            <li class="active"><%= link_to 'Sign Up', new_user_url %></li>
            <li class="active"><%= link_to 'Log In', login_path %></li>
          </ul>
        </nav>
        <% else %>
        <div id="logo">
          <h1><img src="<%= current_user.image if current_user.image %>" alt=""></h1>
        </div>
        <nav id="nav">
          <ul>
            <li class="active"><%= link_to "Homepage", user_path(current_user) %></li>
            <li class="active"><%= link_to "Feed", lists_path %></li>
            <li class="active"><%= link_to "Cura10 List", new_user_list_path(current_user) %></li>
            <li class="active"><%= link_to "Log Out", logout_path %></li>
          </ul>
        </nav>
        <% end %>
      </div>

      <!-- content -->
    <% if flash[:notice] || flash[:alert] %>
      <div class="container" id="banner"><%= flash[:notice] || flash[:alert] %></div>
    <% end %>

    <%= yield %>

    </div>
  </body>

  <!-- Copyright -->
  	<div id="copyright">
  		<div class="container">
  			<div class="copyright">
  				<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
  				<ul class="icons">
  					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
  					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
  					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
</html>
